body {
  background: #e9ebee;
  margin: 0;
  font-family: sans-serif;
}

#main-header {
  background: #4267b2;
  border-bottom: 1px #29487d;
  padding: 18px 0;
  font: bold 20px sans-serif;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

.posts {
  padding: 0 30px;
  max-width: 700px;
  margin: 0 auto;
  .post {
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 30px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    header {
      overflow: hidden;
      border-bottom: 1px solid #eee;
      padding-bottom: 20px;
      margin-bottom: 20px;
      .avatar {
        float: left;
        margin-right: 20px;
        img {
          border-radius: 30px;
        }
      }
      .name {
        font-size: 16px;
        color: #666;
        margin: 13px 0 3px 0;
      }
      .timestamp {
        font-size: 14px;
        color: #999;
      }
    }
    .description {
      font-size: 16px;
      color: #333;
      margin: 0;
    }
  }
}
